[submodule "huggingmolecules"]
	path = huggingmolecules
	url = https://github.com/gmum/huggingmolecules.git
[submodule "MAT"]
	path = MAT
	url = https://github.com/ardigen/MAT.git
[submodule "MolBERT"]
	path = MolBERT
	url = https://github.com/BenevolentAI/MolBERT.git
